@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  src: url("j1UZQZClloCbxKa5Ob7r4Q.eot"/*tpa=http://themes.googleusercontent.com/static/fonts/asap/v1/j1UZQZClloCbxKa5Ob7r4Q.eot*/);
  src: local('Asap'), local('Asap-Regular'), url("j1UZQZClloCbxKa5Ob7r4Q.eot"/*tpa=http://themes.googleusercontent.com/static/fonts/asap/v1/j1UZQZClloCbxKa5Ob7r4Q.eot*/) format('embedded-opentype'), url("dsVXAQJv9yk2zMxf8dGPYw.woff"/*tpa=http://themes.googleusercontent.com/static/fonts/asap/v1/dsVXAQJv9yk2zMxf8dGPYw.woff*/) format('woff');
}
